.slider {
    margin: 12px auto;
    width: 100vw;
    overflow: hidden;
    background-size: contain;
}
.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 300px;
    margin: 20px auto;
  }
  .card-header {
    padding: 20px;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .card-body {
    padding: 20px;
  }
  .photo{
    width: 250px;
    height: 180px;
}
.butt{
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 6px;
    margin: 0px 80px
}
.card:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .hot{
    padding: 20px;
    margin-top: 80px;
    margin-left: 50px; 
    
  }

  .bg-image {
    background-image: url('https://res.cloudinary.com/dbszbhg8n/image/upload/v1675535174/INVICTUS/rural_cokfgx.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
