<app-header></app-header>
<!-- 
<app-discussionforum1 style="    position: relative;
left: -485px; display: flex; 
"></app-discussionforum1 > -->


<h2 style="margin-left: 100px;">Announcements</h2>
<div style="display: flex; margin-left: 100px; border-top: 2px solid black;">
  <div>
    <h4>NEWS STORIES</h4>

    <div style="display: flex">
      <div class="card-body" style="width: 230px">
        <img
          src="https://www.rsnonline.org.uk/images/uploads-new/cost_of_living_survey_tile.png"
          alt="CARPENTARY"
          class="photo"
          style="width: 250px"
        />
        <br />
        <p>
          Suffering from the rural cost of living? Make your thoughts known in
          household survey
        </p>
        <ng-content select="[card-body]"></ng-content>
      </div>

      <div class="card-body" style="width: 230px">
        <img
          src="https://res.cloudinary.com/dbszbhg8n/image/upload/v1675500211/INVICTUS/carpentary_d55nkj.jpg"
          alt="CARPENTARY"
          class="photo"
          style="width: 250px"
        />
        <br />
        <p>MPs urged to support rural shops pledge</p>
        <ng-content select="[card-body]"></ng-content>
      </div>

      <div class="card-body" style="width: 230px">
        <img
          src="https://res.cloudinary.com/dbszbhg8n/image/upload/v1675540978/INVICTUS/derbyshire_dales_tile_sqrty6.jpg"
          alt="CARPENTARY"
          class="photo"
          style="width: 250px"
        />
        <br />
        <p>
          More affordable homes could be built in rural village and hamlets in
          the Derbyshire Dales
        </p>
        <ng-content select="[card-body]"></ng-content>
      </div>
    </div>

    <div style="display: flex">
      <div class="card-body" style="width: 230px">
        <img
          src="https://www.rsnonline.org.uk/images/article%20images/Rural_Public_Community_Transport.jpg"
          alt="CARPENTARY"
          class="photo"
          style="width: 250px"
        />
        <br />
        <p>
          Almost one in 10 local bus services axed over last year in Great
          Britain
        </p>
        <ng-content select="[card-body]"></ng-content>
      </div>

      <div class="card-body" style="width: 230px">
        <img
          src="https://res.cloudinary.com/dbszbhg8n/image/upload/v1675500211/INVICTUS/carpentary_d55nkj.jpg"
          alt="CARPENTARY"
          class="photo"
          style="width: 250px"
        />
        <br />
        <p>MPs urged to support rural shops pledge</p>
        <ng-content select="[card-body]"></ng-content>
      </div>

      <div class="card-body" style="width: 230px">
        <img
          src="https://www.rsnonline.org.uk/images/article%20images/rural_bus.jpg"
          alt="CARPENTARY"
          class="photo"
          style="width: 250px"
        />
        <br />
        <p>MPs told parts of eastern England are public transport desert</p>
        <ng-content select="[card-body]"></ng-content>
      </div>
    </div>
  </div>

  <div class = "hot" >
    <H4>HOT TOPICS </H4>

    <div style="border-bottom: 2px solid gray;">
        <p>Public Sector Funding</p>
        <p>The RSN demands fairer funding from Central Government who have historically and systematically underfunded rural areas.</p>

    </div>

    <div style="border-bottom: 2px solid gray;">
        <p>Public Sector Funding</p>
        <p>The RSN demands fairer funding from Central Government who have historically and systematically underfunded rural areas.</p>
        </div>

        <div style="border-bottom: 2px solid gray;">
            <p>Public Sector Funding</p>
            <p>The RSN demands fairer funding from Central Government who have historically and systematically underfunded rural areas.</p>
            </div>

            <div style="border-bottom: 2px solid gray;">
                <p>Public Sector Funding</p>
                <p>The RSN demands fairer funding from Central Government who have historically and systematically underfunded rural areas.</p>
                </div>

                <div style="border-bottom: 2px solid gray;">
                    <p>Public Sector Funding</p>
                    <p>The RSN demands fairer funding from Central Government who have historically and systematically underfunded rural areas.</p>
                    </div>
</div>
</div>
