<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <app-header></app-header>
    <!-- <div style="display: flex;flex-direction: row;margin-top: 1%;margin-left: 10%;">
        
        <div>
            <mat-icon mat-fab style="float:left;height:60px;width:60px;font-size: 3rem;cursor:pointer;"
              matTooltip="Add Product" matTooltipPosition="left" (click)="openDialog()" >note_add</mat-icon>
      </div> 
            <div>
             <form class="formClass">
                <mat-label>Search Product</mat-label><br>
                <mat-form-field appearance="outline" placeholder="Search Product">
                    <input matInput formControlName="patientId">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </form> 
            </div>

            <div style="margin-top: 1.5%;margin-left: 2%;">
                <button type="button" class="btn btn-warning">Search</button>
            </div>   
        </div> 
         -->
    <div>
      <mat-icon
        mat-fab
        style="
          float: right;
          height: 60px;
          width: 60px;
          font-size: 3rem;
          cursor: pointer;
        "
        matTooltip="Upload Item"
        matTooltipPosition="left"
        (click)="openDialog()"
        >note_add</mat-icon
      >
    </div>
    <div>
      <div
        class="mat-elevation-z8"
        style="width: 80%; margin-left: 10%; margin-top: 2%"
      >
        <!-- <caption><span>Products</span></caption> -->
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="item">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Item</th>
            <td mat-cell *matCellDef="let row">{{ row.item }}</td>
          </ng-container>

          <ng-container matColumnDef="owner">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
            <td mat-cell *matCellDef="let row">{{ row.owner }}</td>
          </ng-container>

          <ng-container matColumnDef="contact">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact</th>
            <td mat-cell *matCellDef="let row">{{ row.contact }}</td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
            <td mat-cell *matCellDef="let row">{{ row.price }}</td>
          </ng-container>
          <!-- 
                    <ng-container matColumnDef="filename">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> File Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.status}} </td>
                    </ng-container>  -->

          <ng-container matColumnDef="filecontent">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Content</th>
            <td mat-cell *matCellDef="let row">
              <img mat-card-image src="assets/pot.jpg"  />
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            class="example-element-row"
          ></tr>
        </table>
      </div>
    </div>
    <br /><br />
  </body>
</html>
