<app-header></app-header>

<div style="display: flex">
  <div class="card">
    <div class="card-header">
      CARPENTARY
      <ng-content select="[card-header]"></ng-content>
    </div>
    <div class="card-body">
        <img src="https://res.cloudinary.com/dbszbhg8n/image/upload/v1675500211/INVICTUS/carpentary_d55nkj.jpg" alt="CARPENTARY" class="photo">
      Venue: Sarpanch Office, Kasargaon
      Date: 10/02/2023 - 15/02/2023
      Time: 9:00am - 12:00pm
      Meanwhile refer to below videos
      <ng-content select="[card-body]"></ng-content>
      <p>
      <a href="https://youtu.be/ZWWpPmc9yEA" class="butt"> START</a>
    </p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      POTTERY
      <ng-content select="[card-header]"></ng-content>
    </div>
    <div class="card-body">
        <img src="https://res.cloudinary.com/dbszbhg8n/image/upload/v1675500211/INVICTUS/carpentary_d55nkj.jpg" alt="CARPENTARY" class="photo">

        Venue: Sarpanch Office, Ambergaon
        Date: 20/02/2023 - 23/02/2023
        Time: 9:00am - 12:00pm
        Meanwhile refer to below videos
      <ng-content select="[card-body]"></ng-content>
      <p>
        <a href="https://youtu.be/ZWWpPmc9yEA" class="butt"> START</a>
    </p>    </div>
  </div>

  <div class="card">
    <div class="card-header">
      ELECTRICIAN
      <ng-content select="[card-header]"></ng-content>
    </div>
    <div class="card-body">
        <img src="https://res.cloudinary.com/dbszbhg8n/image/upload/v1675500301/INVICTUS/ELECTR_hehtfb.png" alt="electr" class="photo">

        Venue: Sarpanch Office, Badalgaon
        Date: 10/03/2023 - 25/02/2023
        Time: 9:00am - 12:00pm
        Meanwhile refer to below videos
      <ng-content select="[card-body]"></ng-content>
      <p>
        <a href="https://youtu.be/ZWWpPmc9yEA" class="butt"> START</a>
    </p>    </div>
  </div>

  <div class="card">
    <div class="card-header">
      FARMING TECHNIQUES
      <ng-content select="[card-header]"></ng-content>
    </div>
    <div class="card-body">
        <img src="https://res.cloudinary.com/dbszbhg8n/image/upload/v1675500354/INVICTUS/fertiliser-subsidy_c3oelj.jpg" alt="FARMING" class="photo">

        Venue: Sarpanch Office, Kasargaon
        Date: 10/02/2023 - 15/02/2023
        Time: 9:00am - 12:00pm
        Meanwhile refer to below videos
      <ng-content select="[card-body]"></ng-content>
      <p>
        <a href="https://youtu.be/ZWWpPmc9yEA" class="butt"> START</a>
    </p>     </div>
  </div>
</div>

<!-- <div style="display: flex">
    <div class="card">
      <div class="card-header">
        CARPENTARY
        <ng-content select="[card-header]"></ng-content>
      </div>
      <div class="card-body">
          <img src="https://res.cloudinary.com/dbszbhg8n/image/upload/v1675500211/INVICTUS/carpentary_d55nkj.jpg" alt="CARPENTARY" class="photo">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, eligendi
        reprehenderit ad illum alias a error autem vero ut cumque deleniti minus
        consequuntur itaque consequatur fugit aspernatur! Ab optio obcaecati,
        <ng-content select="[card-body]"></ng-content>
        <p>
            <a href="https://youtu.be/ZWWpPmc9yEA" class="butt"> START</a>
        </p>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header">
        POTTERY
        <ng-content select="[card-header]"></ng-content>
      </div>
      <div class="card-body">
          <img src="https://res.cloudinary.com/dbszbhg8n/image/upload/v1675500211/INVICTUS/carpentary_d55nkj.jpg" alt="CARPENTARY" class="photo">
  
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, eligendi
        reprehenderit ad illum alias a error autem vero ut cumque deleniti minus
        consequuntur itaque consequatur fugit aspernatur! Ab optio obcaecati,
        <ng-content select="[card-body]"></ng-content>
        <p>
            <a href="https://youtu.be/ZWWpPmc9yEA" class="butt"> START</a>
        </p>    </div>
    </div>
  
    <div class="card">
      <div class="card-header">
        ELECTRICIAN
        <ng-content select="[card-header]"></ng-content>
      </div>
      <div class="card-body">
          <img src="https://res.cloudinary.com/dbszbhg8n/image/upload/v1675500301/INVICTUS/ELECTR_hehtfb.png" alt="electr" class="photo">
  
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, eligendi
        reprehenderit ad illum alias a error autem vero ut cumque deleniti minus
        consequuntur itaque consequatur fugit aspernatur! Ab optio obcaecati,
        <ng-content select="[card-body]"></ng-content>
        <p>
            <a href="https://youtu.be/ZWWpPmc9yEA" class="butt"> START</a>
        </p>    </div>
    </div>
  
    <div class="card">
      <div class="card-header">
        DRIVING
        <ng-content select="[card-header]"></ng-content>
      </div>
      <div class="card-body">
          <img src="https://res.cloudinary.com/dbszbhg8n/image/upload/v1675500354/INVICTUS/fertiliser-subsidy_c3oelj.jpg" alt="FARMING" class="photo">
  
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, eligendi
        reprehenderit ad illum alias a error autem vero ut cumque deleniti minus
        consequuntur itaque consequatur fugit aspernatur! Ab optio obcaecati,
        <ng-content select="[card-body]"></ng-content>
        <p>
            <a href="https://youtu.be/ZWWpPmc9yEA" class="butt"> START</a>
        </p>     </div>
    </div>
  </div> -->
  
