<app-header></app-header>
    <h2 style="text-align: center">
        Explore the world of ideas!</h2>
<div style="display: flex">
  <div class="card">
    <div class="card-header">
      PAINTINGS
      <ng-content select="[card-header]"></ng-content>
    </div>

    <div class="card-body">
        <img src="https://www.thesprucecrafts.com/thmb/SfERgSgvrF58XP6UF48DULSTERA=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/impressionism-image-of-seascape-paintings-with-sunlight-background--modern-art-oil-paintings-with-boat--sail-on-sea--1011385250-94dda8515bb24a97885a38b1e4c22fcd.jpg" alt="Paintings" class="photo">
        Painting, the expression of ideas and emotions, with the creation of certain aesthetic qualities, in a two-dimensional visual language. The elements of this language—its shapes, lines, colours, tones, and textures—are used in various ways to produce sensations of volume, space, movement, and light on a flat surface.
      <ng-content select="[card-body]"></ng-content>
      <p>
        <div style="margin-top: 3.0%;margin-left: 30%;">
            <button type="button" class="btn">Contact</button>
        </div>   
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      WARLI-ART
      <ng-content select="[card-header]"></ng-content>
    </div>
    <div class="card-body">
        <img src="https://media.istockphoto.com/id/498649618/photo/warli-wall-painting.jpg?b=1&s=170667a&w=0&k=20&c=ezF9qO5R554jtdnkB62TvGFpEZ2iuuQY9S58uiXy94U=" alt=warli class="photo">
        The Warli Painting tradition in Maharashtra are among the finest examples of the folk style of paintings. The Warli tribe is one of the largest in India, located outside Mumbai . Til the 1970s, even though the tribal style of art is thought to date back as early as 10th century A.D.[1] The Warli culture is centered on the concept of Mother Nature and elements of nature.  
     
      <ng-content select="[card-body]"></ng-content>
    <p>
        <div style="margin-top: 4.0%;margin-left: 30%;">
            <button type="button" class="btn">Contact</button>
        </div>     
</div>
</div>

  <div class="card">
    <div class="card-header">
      HANDICRAFTS
      <ng-content select="[card-header]"></ng-content>
    </div>
    <div class="card-body">
        <img src="https://media.istockphoto.com/id/182885832/photo/pottery-art.jpg?b=1&s=170667a&w=0&k=20&c=0b8NgTusfjraQade_ms85yR4qFcaObrNrtWPekYMuZg=" alt="handicraft" class="photo">
    <br>A handicraft, sometimes more precisely expressed as artisanal handicraft or handmade, is any of a wide variety of types of work where useful and decorative objects are made completely by one’s hand.Handicraft has its roots in the rural crafts—the material-goods necessities—of ancient civilizations, and many specific crafts have been practiced for centuries.
      <ng-content select="[card-body]"></ng-content>
      <p>
        
            <div style="margin-top: 4.0%;margin-left:30%;">

        <button type="button" class="btn">Contact</button>
          </div>  
    
       </div>
  </div>

  <div class="card">
    <div class="card-header">
    BAMBOO-ART
      <ng-content select="[card-header]"></ng-content>
    </div>
    <div class="card-body">
        <img src="https://media.istockphoto.com/id/513809446/photo/wave-brown-handicraft-weave-texture-bamboo-surface.jpg?b=1&s=170667a&w=0&k=20&c=7lo2isIGuJkt0sXSQkEGO20o_HKZ_R0TcusiJnGuyyk=" alt="bambooArt" class="photo">
        The lightness, strength, flexibility and cylindrical structure of bamboo is suited to functionality as well as artistic applications, and the material has been used to create houses, furniture, artisan's tools, kitchen utensils, fencing, fishing and animal traps, children's toys,musical instruments,bamboo baskets,chairs and many other useful things.
      <ng-content select="[card-body]"></ng-content>
      <p>
        <div style="margin-top: 4.0%;margin-left:30%;">
    <button type="button" class="btn">Contact</button>
      </div>  
         </div>
  </div>
</div>

<div style="display: flex">
    <div class="card">
      <div class="card-header">
        POTTERY
        <ng-content select="[card-header]"></ng-content>
      </div>
      <div class="card-body">
          <img src="https://images.unsplash.com/photo-1662718552395-2d7d20803951?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGNvbG91cmZ1bCUyMHBvdHN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60 " alt="Pottery" class="photo">
          Pottery is the process and the products of forming vessels and other objects with clay and other ceramic materials, which are fired at high temperatures to give them a hard and durable form. Major types include earthenware, stoneware and porcelain.Pottery is one of the oldest human inventions, originating before the Neolithic period.
        <ng-content select="[card-body]"></ng-content>
        <p>
            <div style="margin-top: 4.0%;margin-left:30%;">
        <button type="button" class="btn">Contact</button>
          </div>  
      </div>
    </div>
  
    <div class="card">
      <div class="card-header">
        CLOTHING DESIGN
        <ng-content select="[card-header]"></ng-content>
      </div>
      <div class="card-body">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4jd5OXAB5safnnwJMYPJ0VhYA_gdqkdDaGw&usqp=CAU" alt="CARPENTARY" class="photo">
  
         <br> Wearable art or clothing art known as Artwear or "art to wear", refers to art pieces in the shape of clothing or jewellery pieces. These pieces are usually handmade, and are produced only once or as a very limited series.Transferring the design is done in various ways. It can be transferred to the carpet directly from the mind and hand.
        <ng-content select="[card-body]"></ng-content>
        <p>
            <div style="margin-top: 4.0%;margin-left:30%;">
            <button type="button" class="btn">Contact</button>
              
        </div>     </div>
    </div>
  
    <div class="card">
      <div class="card-header">
        CARDS
        <ng-content select="[card-header]"></ng-content>
      </div>
      <div class="card-body">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvzhDsDd_AFJ6ato1QicTEf25wox66E-QCtA&usqp=CAU" alt="card" class="photo">
          A greeting card is a piece of card stock, usually with an illustration or photo, made of high quality paper featuring an expression of friendship or other sentiment. Although greeting cards are usually given on special occasions such as birthdays, Christmas or other holidays, such as Halloween, they are also sent to convey thanks or express other feelings.
        <ng-content select="[card-body]"></ng-content>
            <p>
                <div style="margin-top: 4.0%;margin-left:30%;">
            <button type="button" class="btn">Contact</button>
              </div>      </div>
    </div>
  
    <div class="card">
      <div class="card-header">
        STONE ART
        <ng-content select="[card-header]"></ng-content>
      </div>
      <div class="card-body">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsYQMTKYiB45xMCelSsIGOSghLYRqujIssFg&usqp=CAU" alt="stone" class="photo">
          Rock art, drawing, painting, or similar work on or of stone, usually from the ancient or prehistoric era, though it continued to be practiced in some areas of Africa during the 19th century and possibly later.The ancient animals, tools, and human activities depicted often help shed light on daily life in the distant past, though the images are frequently symbolic rather than representative.

        <ng-content select="[card-body]"></ng-content>
        <p>
                <div style="margin-top: 4.0%;margin-left:30%;">
            <button type="button" class="btn">Contact</button>
              </div>  
            </div>
    </div>
  </div>
  
